/* todo: add styles */
.vertical-grid{
    stroke:#ccc;
    
  }
  
  .ordinate-text{
    font-size:10px;
    transform:translateY(10px);
  }
  
  div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity:0;
    padding:5px;
  }
  
  .right-align{
    position:absolute;
    right:100px;
    
  }
  .box,
  .label{
      display:inline-block;
  }
  
  .box{
    width:10px;
    height:10px;
    margin:0px 10px;
  }
  .body{
    background-color: aqua;
  }

  .h1{
    text-align: center;
  }
  .h2{
    text-align: end;
  }